.sign-in {
    width: 460px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons-container {
        display: flex;
        justify-content: flex-start;
    }

    button {
        margin-right: 20px;
    }
}
